*{box-sizing: border-box;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

body {
  background-color: black;
  height: 100%;
}

section {
  margin-top: 100px;
  width: 100%;
}

/* header */
header{
  overflow: hidden;
  position: relative;
  width: 100%;
}

nav.encabezado{
  overflow: hidden;
  background-color: #262626;
  height: 14%;
  z-index: 3;
  position: fixed;
  width: 100%;
}

.header{
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  margin: 10px;
  height: 70px;
  width: 70px;
  float: left;
  z-index: 3;
  border: 2px solid white;
  border-radius: 35px;
}

.nav {
  overflow: hidden;
}

.li1 {
  list-style-type: none;
  text-align: center;
  padding: 15px;
  color: white;
  float: left;
  font-size: 15px;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 300;
}

.logIn {
  float: right;
  list-style-type: none;
  text-align: center;
  padding: 15px;
  color: white;
}

li.buscador{
  float: right;
  list-style-type: none;
  text-align: center;
  padding: 15px;
  color: white;
}

li.logIn {
  float: right;
  list-style-type: none;
  text-align: center;
  padding: 15px;
  color: white;
}

form input{
  margin-bottom: 15px
}

/* body */

.titulos {
  text-decoration: underline;
}

.subtitulos {
  text-decoration: underline;
  font-weight: bold;
  font-family: 'Julius Sans One', sans-serif;
  color: white;
}

p{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-decoration: none;
  color: white;
}


/* footer */
footer{
  overflow: hidden;
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  background-color: #F3EDED;
}

.final{
  background-color: white;
}

.li2 {
  float: right;
  list-style-type: none;
  text-align: center;
  color: black;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 5px;
  font-size: 11px;
  font-weight: bold;
}

.movie {
  height: 40px;
  float: left;
  position: absolute;
  top: 9px;
  left: 5px;
}
