*{box-sizing: border-box;}

body {
  background-color: #E0E0E0;
  position: relative;
}

/* header */
header{
  overflow: hidden;
  position: relative;
}

nav{
  overflow: hidden;
  background-color: #000000;
  height: 60px;
  z-index: 3;
  position: fixed;
  width: 100%;
}

.header{
  top: 0;
  left: 0;
  width: 100%;
}


.logo {
  margin: 10px;
  height: 40px;
  width: 40px;
  float: left;
  z-index: 3;
  border: 3px solid red;
  border-radius: 40px;
}

.nav {
  overflow: hidden;
}

.li1 {
  float: right;
  list-style-type: none;
  text-align: center;
  padding: 15px;
  color: white;
}

/* body */

section {
  position: absolute;
}



/* footer */
footer{
  overflow: hidden;
  width: 100%;
  height: 50px;
}

.final{
  background-color: white;
  bottom: 0;
}


.li2 {
  float: right;
  list-style-type: none;
  text-align: center;
  color: black;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.movie {
  height: 40px;
  float: left;
  padding: 5px;
}
