*{box-sizing: border-box;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif

}

.preferidas {
  display: none;

}

.nombre{
  list-style-type: none;
    text-align: center;
    padding: 15px;
    color: red;
    font-style: italic;
    float: left;
    font-size: 15px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 300
}

body {
  background-color: black;

}

section {
  margin-top: 100px;
  width: 100%;
}

/* header */
header{
  overflow: hidden;
  position: relative;
  width: 100%;
}

nav {
  width: 100%;
  overflow: hidden;
}

nav.encabezado{
  overflow: hidden;
  background-color: #262626;
  height: 14%;
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 15%;
}

.header{
  top: 0;
  left: 0;
  width: 100%;

}

.logo {
  margin: 10px;
  height: 70px;
  width: 70px;
  float: left;
  z-index: 3;
  border: 2px solid white;
  border-radius: 35px;
}

.nav {
  overflow: hidden;
}

.li1 {
  list-style-type: none;
  text-align: center;
  padding: 15px;
  color: white;
  float: left;
  font-size: 15px;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 300;
}

li.logIn {
  float: right;
  list-style-type: none;
  text-align: center;
  padding: 15px;
  color: white;
}

li.logInMq {
  display: none
}

form input{
  margin-bottom: 15px
}

li.buscador{
  float: right;
  list-style-type: none;
  text-align: center;
  padding: 15px;
  color: white;

}

/* body */
.titulos {
  text-decoration: underline;
}

.subtitulos {
  color: white !important;
  text-decoration: underline;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bolder;
  font-size: 18px;
  margin-top: -88px;
}


/* footer */
footer{
  overflow: hidden;
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  background-color: #F3EDED;
}

.final{
  background-color: white;
}

.li2 {
  float: right;
  list-style-type: none;
  text-align: center;
  color: black;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 5px;
  font-size: 11px;
  font-weight: bold;
}

.movie {
  height: 40px;
  float: left;
  position: absolute;
  top: 9px;
  left: 5px;
}

////////////////////////

nav.mqMobile{
  display: none;
}

.dis-none{
    display: none;
}
#navbar_toggle{
    position: absolute;
    right: 1em;
    top: 2em;
}
.uk-navbar-nav{ display:none; }


.h-40{
    height: 40px !important;
    min-height: 40px;
}
.logoMq {
    height: 70px;
    width: 70px;
    float: left;
    z-index: 3;
    border: 2px solid white;
    border-radius: 35px;
    position: fixed;
    display: none;


  }
  .logo{
    display: ;
  }

@media screen and (max-width:768px){
  .logoMq {
      margin: 10px;
      height: 70px;
      width: 70px;
      float: left;

      border: 2px solid white;
      border-radius: 35px;
      display: block;
      position: static;
    }

    .botonBuscar{
      display: none;
    }

    .resultado{
      text-align: center;
    }

  button {
    color: white;
    background-color: transparent;
    font-size: 15px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 300;
    border: 0;
  }

  li.logInMq {
    float: left;
    list-style-type: none;
    text-align: center;
    width: 100%;
  }

  .preferidasMq {
    display: none;
  }

  .li1 {
    list-style-type: none;
    text-align: center;
    padding: 5px;
    color: white;
    float: left;
    font-size: 15px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 300;
    width: 100%;
  }

    li.buscador{
      float: left;
      width: 100%;
    }

    li.l1 {
      float: left;
    }

    nav.encabezado{
    display: none;
    }

    nav.uk-navbar-container{
      display: block;
    }

    .uk-navbar-left{
        width: 100%;
        background-color: #262626;

    }

    .uk-navbar-item{ display: inline; }

    .uk-navbar-nav{ display:block; }
    .navbar-collapse{ width:100%; }
    .uk-navbar-nav li{
        display: block;
        padding: 10px;
        height: 40px;
        border-bottom: 1px solid #ddd;
    }

    .uk-navbar-nav li a{
        display: block;
        width: 80%;
        padding: 0.5rem 1rem;
    }

    img.movie{
      float: left;
      width: 20%;
    }

    ul.ul2{
      width: 80%;
      overflow: hidden;
      float: right;
    }

    ul li.li2{
      width: 30%;
      margin-bottom: 10px;
    }

    nav.final{
      overflow: hidden;
    }
